{% if app.request.attributes.get('_route') == "app_usergallery" %}
	<h1>Galerie photo de
		{{ username }}</h1><br>
	{% for message in app.flashes('gallery_err') %}
		<div class="alert alert-danger">
			<i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i>
			{{ message }}<br>
		</div>
	{% endfor %}
	{% if (img is defined) and (img != null) %}
		<div class="row justify-content-md-center">
			{% for image in img %}
				<div class="d-flex col-xl-3 col-lg-3 col-md-6 col-sm-12 align-items-center">
					<a href="/uploaded/{{ image.fileLocalisation }}" data-toggle="lightbox" data-gallery="gallery">
						<div class="card d-flex flex-fill align-items-center">
							<img src="/uploaded/{{ image.fileLocalisation }}" class="d-flex img-fluid card-img-top scale-on-hover">
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endif %}


{% if app.request.attributes.get('_route') == "app_mygallery" %}
	<div class="d-flex bd-highlight mb-3 align-items-center">
		<div>
			<h1>Ma galerie photo</h1>
		</div>

		<div class="ms-auto">
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadModal">
				<i class="fa fa-plus-square fa-fw" aria-hidden="true"></i>
			</button>
		</div>
	</div>
	{% if (img is defined) and (img == null) %}
		<div class="alert alert-info">
			<i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>
			Votre galerie est vide, ajoutez-une image pour commencer à partager vos photos avec le monde !<br>
		</div>
	{% endif %}

	{% for message in app.flashes('gallery_err') %}
		<div class="alert alert-danger">
			<i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i>
			{{ message }}<br>
		</div>
	{% endfor %}
	{% for message in app.flashes('gallery_suc') %}
		<div class="alert alert-success">
			<i class="fa fa-check fa-fw" aria-hidden="true"></i>
			{{ message }}<br>
		</div>
	{% endfor %}

	{% include 'partials/mygallerymodal.html.twig' %}
	{% if (img is defined) and (img != null) %}
		<div class="d-flex align-items-center row justify-content-center">
			{% for image in img %}
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
					<div class="mb-3 box-shadow shadow-sm">
						<a href="/uploaded/{{ image.fileLocalisation }}" data-toggle="lightbox" data-gallery="gallery"><img src="/uploaded/{{ image.fileLocalisation }}" class="img-fluid card-img-top scale-on-hover"></a>
						<div class="d-flex card-body justify-content-between">
							<div>
								<div class="dropdown">
									<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
										{% if image.position == 0 %}
											Non publiée
										{% else %}
											{{ image.position }}
										{% endif %}
									</button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
										{% if image.position != 0 %}
											<a href="/mygallery/changepos?image={{ image.id }}&position=0" class="dropdown-item btn btn-primary">Dépublication</a>
										{% endif %}

										{% for i in 1..countImg %}
											<a href="/mygallery/changepos?image={{ image.id }}&position={{ i }}" class="dropdown-item btn btn-primary">Publier en position
												{{ i }}</a>
										{% endfor %}
									</div>
								</div>
							</div>

							<div class="ms-auto">
								<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ image.id }}">
									<i class="fa fa-trash fa-fw" aria-hidden="true"></i>
								</button>

								<div class="modal fade" id="deleteModal{{ image.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModal{{ image.id }}Label" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="deleteModal{{ image.id }}Label">
													<i class="fa fa-trash fa-fw" aria-hidden="true"></i>
													Supprimer une image</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<div class="mb-3">
													Êtes-vous sûr de vouloir supprimer cette image ?
												</div>
											</div>
											<div class="modal-footer">
												<a href="/mygallery/delete?image={{ image.id }}" class="btn btn-primary">
													<i class="fa fa-rocket fa-fw" aria-hidden="true"></i>
													Go !</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="d-flex card-footer text-muted justify-content-center text-center">
							Date d'ajout :
							{{ image.date|format_datetime('short', 'none', locale='fr') }}<br>
							Heure d'ajout :
							{{ image.date|format_datetime('none', 'short', locale='fr') }}<br>
							Taille :
							{{ image.size }}
							octets<br>
						</div>

					</div>


				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endif %}
{% if app.request.attributes.get('_route') == "app_home" %}
	<h1>Bienvenue sur Galerie photo INSSET</h1>
	{% if (randomUser != null) %}
		<div class="alert alert-info">
			<i class="fa fa-picture-o fa-fw" aria-hidden="true"></i>
			La galerie photo de
			<a href="/u/{{ randomUser.username }}"><span class="badge rounded-pill bg-primary">{{ randomUser.username }}</span></a> a été sélectionnée aléatoirement pour vos petits yeux.
		</div>
		<div class="row justify-content-md-center">
			{% for image in randomUser.images %}
				<div class="d-flex col-xl-3 col-lg-3 col-md-6 col-sm-12 align-items-center">
					<a href="/uploaded/{{ image.fileLocalisation }}" data-toggle="lightbox" data-gallery="gallery">
						<div class="card d-flex flex-fill align-items-center">
							<img src="/uploaded/{{ image.fileLocalisation }}" class="d-flex img-fluid card-img-top scale-on-hover">
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<div class="alert alert-info">
			<i class="fa fa-frown-o fa-fw" aria-hidden="true"></i>
			Aucun compte utilisateur n'a de photos publiques sur cette instance...
		</div>
	{% endif %}
{% endif %}
{% if app.request.attributes.get('_route') == "app_admin" %}
	<h1>Gestion des utilisateurs</h1>
	{% for message in app.flashes('admin_err') %}
		<div class="alert alert-danger">
			<i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i>
			{{ message }}<br>
		</div>
	{% endfor %}
	{% for message in app.flashes('admin_suc') %}
		<div class="alert alert-success">
			<i class="fa fa-check fa-fw" aria-hidden="true"></i>
			{{ message }}<br>
		</div>
	{% endfor %}
	{% if users == null %}
		<div class="alert alert-info">
			<i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>
			Il n'y a aucun utilisateur sur cette instance...
		</div>
	{% else %}
		<table class="table table-striped align-middle text-center">
			<thead>
				<tr>
					<th scope="col">Pseudo</th>
					<th scope="col">Adresse de courriel</th>
					<th scope="col">Âge</th>
					<th scope="col">Connexions échouées</th>
					<th scope="col">Activé ?</th>
					<th scope="col">Surpression</th>

				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<th scope="row">{{ user.username }}</th>
						<td>{{ user.email }}</td>
						<td>{{ user.age }}</td>
						<td>{{ user.nbLoginFailed }}</td>
						{% if user.isEnabled %}
							<td>Oui</td>
						{% else %}
							<td>
								Non<br>
								<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reactivateModal{{ user.id }}">
									Réactivivation ?
								</button>

							</td>
						{% endif %}
						<td>

							<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ user.id }}">
								<i class="fa fa-trash fa-fw" aria-hidden="true"></i>
							</button>


						</td>
					</tr>

					<div class="modal fade" id="reactivateModal{{ user.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="reactivateModal{{ user.id }}Label" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="reactivateModal{{ user.id }}Label">
										<i class="fa fa-shield fa-fw" aria-hidden="true"></i>
										Réactiver le compte de
										{{ user.username }}</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<div class="mb-3">
										Êtes-vous sûr de vouloir réactiver cet utilisateur ?<br>
										Il va recevoir un nouveau mot de passe par courriel.
									</div>
								</div>
								<div class="modal-footer">
									<a href="/admin/reactivate?user={{ user.id }}" class="btn btn-primary">
										<i class="fa fa-rocket fa-fw" aria-hidden="true"></i>
										Go !</a>
								</div>
							</div>
						</div>
					</div>


					<div class="modal fade" id="deleteModal{{ user.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModal{{ user.id }}Label" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="deleteModal{{ user.id }}Label">
										<i class="fa fa-trash fa-fw" aria-hidden="true"></i>
										Supprimer le compte de
										{{ user.username }}</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<div class="mb-3">
										Êtes-vous sûr de vouloir supprimer cet utilisateur ?
									</div>
								</div>
								<div class="modal-footer">
									<a href="/admin/delete?user={{ user.id }}" class="btn btn-primary">
										<i class="fa fa-rocket fa-fw" aria-hidden="true"></i>
										Go !</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endif %}
