{% for message in app.flashes('log_err') %}
	<div class="alert alert-danger alert-dismissible fade show">
		<i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i>
		{{ message }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}
{% for message in app.flashes('logout_suc') %}
	<div class="alert alert-success alert-dismissible fade show">
		<i class="fa fa-check fa-fw" aria-hidden="true"></i>
		{{ message }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}
{% if error %}
	<div class="alert alert-danger alert-dismissible fade show">
		<i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i>
		{{ error.messageKey|trans(error.messageData, 'security') }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endif %}
<div class="card">
	<div class="card-body text-center">
		<h5 class="card-title">
			<i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>
			Connexion</h5>
		<form action="{{ path('app_home') }}" method="post">
			<div class="input-group">
				<span class="input-group-text bg-primary">
					<i class="fa fa-envelope fa-fw text-white" aria-hidden="true"></i>
				</span>
				<input type="email" class="form-control" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Adresse de courriel" autocomplete="email" required autofocus>
			</div>
			<div class="input-group">
				<span class="input-group-text bg-primary">
					<i class="fa fa-key fa-fw text-white" aria-hidden="true"></i>
				</span>
				<input type="password" class="form-control" name="password" id="inputPassword" placeholder="Mot de passe" autocomplete="current-password" required>
			</div>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<button class="btn btn-primary text-center mt-2" type="submit">
				<i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>
				Se connecter
			</button>
		</form>
	</div>
</div>
