<div class="card">
	<div class="card-body text-center">
		<h5 class="card-title">
			<i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
			Inscription</h5>
		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registerModal">
			<i class="fa fa-plus-square fa-fw" aria-hidden="true"></i>
			S'inscrire</button>
	</div>
</div>
<div class="modal fade" id="registerModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="registerModalLabel">
					<i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
					Inscription</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			{{ form_start(registrationForm, {'action': path('app_register'), 'method': 'POST'}) }}
			<div class="modal-body">
				{% if users == null %}
					<div class="alert alert-info">
						<i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>
						Cette instance est vide.<br>Le premier utilisateur sera l'administrateur.<br>Il est capable de gérer les comptes, mais n'est pas capable de publier des photos.
					</div>
				{% endif %}
				<div class="mb-3">
					{{ form_widget(registrationForm.username) }}
				</div>

				<div class="mb-3">
					{{ form_widget(registrationForm.email) }}
				</div>

				<div class="mb-3">
					{{ form_widget(registrationForm.age) }}
				</div>

				<div class="mb-3">
					{{ form_row(registrationForm.captcha) }}
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
					<i class="fa fa-times-circle-o fa-fw" aria-hidden="true"></i>
					Fermer</button>
				<button type="submit" class="btn btn-primary">
					<i class="fa fa-rocket fa-fw" aria-hidden="true"></i>
					Go !</button>
			</div>
			{{ form_end(registrationForm) }}
		</div>
	</div>
</div></div>
